@{
    ViewData["Title"] = "Home Page";
}
<style>
    body,
    html {
        width: 100%;
        height: 100%;
        font-family: sans-serif;
        position: absolute;
    }

    body {
        background: url("../Imagens/Turismo.jpg") repeat center center;
       
        background-size: cover;
        color: #fff;
    }

    .cont {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: inherit;
        align-items: center;
        padding: 150px;

    }

    .Th1 {

        margin: 10px;
        margin-left: 80px;
        width: 280px;
        height: 28px;
        background-color: #AB0AC7;
        display: flex;

    }

    .Th1 h1 {
        margin-top: -2px;
        margin-left: 90px;
        font-size: 54px;
        font-weight: bold;
    }


    .pacoteviagem {
        flex-shrink: 0;
        width: 360px;
        height: 480px;
        border-radius: 20px;
        border: 10px #AB0AC7;
        box-shadow: 0 0 99px 0 rgba(0, 0, 0, 1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #7AA7C6;
        padding: 30px;
        font-size: 10px;
        margin-left: -170px;
        margin-top: 10px;
        transition: 0.9s;
        overflow: hidden;
        position: relative;
    }

    .imgpacote img {
        width: 140px;
        height: 140px;
        border-radius: 20px;
        background-color: black;
    }

    img {

        margin-left: 80px;
    }

    .descricao {

        width: 320px;
        height: 110px;
        text-align: center;
        background-color: #1766D6;
        opacity: 88%;
        justify-content: space-between;
        border-radius: 20px;
        box-shadow: 3 3 99px 3 (#7AA7C6);
    }

    .descricao p {
        margin-top: 12px;
        color: #D9D2DD;
        font-weight: bold;
    }

    p {
        font-weight: bold;
        text-align: center;

        color: #D9D2DD;
    }

    .pacoteviagem:hover {
        transform: translateY(-20px);
        margin-right: 120px;
        box-shadow: 0 0 99px 0 rgba(0, 0, 0, 1);
        border: 10px #AB0AC7;
        cursor: pointer;
    }

    .botao {
        margin: auto;
        width: 100px;
    }

    input {
        align-items: center;
        width: 100px;
        height: 30px;
        background: #1766D6;
        font-size: 12px bold;
        color: #fff;
        border: none;
    }

    .botao input:hover {
        cursor: pointer;
        color: #D9D2DD;
        transform: translateY(8px);
    }
</style>

<div class="Th1">
    <h1>Turismo</h1>
</div>

<div class="cont">

    <div class="pacoteviagem">

        <h2>Cancun</h2>

        <br>

        <div class="imgpacote">
            <img width="100px" height="100px" src="../Imagens/cancun.jpg" alt="Cancun">
        </div>

        <br>

        <div class="descricao">
            <p>Quem nunca quis conhecer as praiasde Cacun? Aproveite essa maravilha com esse pacote turístico.</p>
        </div>

        <div class="valorpacote">
            <p><b>R$ 6.00,00</b> Com hospedagem e guia turístico incluso</p>
            <p><b>Ou até 12x de R$600,00</b> No Cartão de crédito</p>
        </div>

        <div class="botao">
            <input type="submit" value="Comprar">
        </div>

    </div>

    <div class="pacoteviagem">

        <h2>Carnaval de Carneiros</h2>

        <br>

        <div class="imgpacote">
            <img width="100px" height="100px" src="../Imagens/carneiros.jpg" alt="Carneiros">
        </div>

        <br>

        <div class="descricao">
            <p>Com certeza você já ouviu falar do famoso Carnaval de Carneiros. Então, o que você acha de fazer parte
                dessa experiência?Adiquira já o seu pacote
            </p>
        </div>

        <div class="valorpacote">
            <p><b>R$ 3.00,00</b> Com hospedagem e alimentação incluídos, <b>condicões especiais para estudantes</b></p>
            <p><b>Ou até 12x de R$300,00</b> No Cartão de crédito</p>
        </div>

        <div class="botao">
            <input type="submit" value="Comprar">
        </div>

    </div>


    <div class="pacoteviagem">

        <h2>Copa do Mundo do Catar</h2>

        <br>

        <div class="imgpacote">
            <img width="100px" height="100px" src="../Imagens/doha.jpg" alt="Doha">
        </div>

        <br>

        <div class="descricao">
            <p>Que tal fazer parte do maior evento de futebol mundial? Venha para Doha, a principal cidade onde
                acontecerão os jogos. Daqui você consegue viajar, em pouco tempo e com poucas despesas, para as outras
                cidades situadas no Catar e seus estádios! Então? Vamos torcer em 2022?
            </p>
        </div>

        <div class="valorpacote">
            <p><b>R$ 8.500,00</b> Ingressos não inclusos</p>
            <p><b>Ou até 12x de R$850,00</b> No Cartão de crédito</p>
        </div>

        <div class="botao">
            <input type="submit" value="Comprar">
        </div>

    </div>
<div>